/* _content/ERP-GraduateManagement/MyMudProvider.razor.rz.scp.css */
.my-component[b-nugur446bj] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
