

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
<script src="_content/MudBlazor/MudBlazor.min.js"></script>

<div class="page">
    
    <MudLayout>
        <div class="background-container">
            <div >
                <div class="image-container mud-text-center mt-15">
                    <MudImage Src="Assets/image3.png" Alt="UOR" Width="100"  Elevation="30" Class="rounded-lg" />
                    <div>
                        <MudText  Class="pa-4 mb-18" Style="@($"color:{Colors.Grey.Lighten5}; font-weight: bold;font-size: 33px;")">FACULTY OF ENGINEERING</MudText>
                    </div>
                    <MudImage Src="Assets/image2.png" Alt="UOR" Width="100" Elevation="30" Class="rounded-lg" />

                </div>
                <div class="image-container mud-text-center mt-10">

                    <div>
                        <MudText  Class="pa-10" Style="@($"color:{Colors.Grey.Lighten5}; font-weight: bold;font-size: 23px;")">UNIVERSITY OF RUHUNA</MudText>
                    </div>
                </div>

            </div>

        </div>
    </MudLayout>
</div>








<style>
    .background-container {
        background-image: url('Assets/image4.JPG'); /* Path to your image */
        background-size: cover;  /*Cover the entire container with the background image */
        background-position: center; /* Center the background image within the container */
        height: 450px; /* Adjust height as needed */
        width: 100%; /* Adjust width as needed */
        position: relative; /* Set the position to relative */
    }

    .image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .image-container img {
            max-width: 50%; /* Add this to limit the image width */
            max-height: 80%; /* Add this to limit the image height */
            object-fit: contain; /* Add this to ensure the aspect ratio is maintained */
        }

    .text1 {
        position: center;
        top: 10;
        left: 10;
        justify-content: center;
        align-items: center;
    }

</style>



@code {
    ObjectFit ImageFit = ObjectFit.Fill;

    void SetImageFit(ObjectFit value)
    {
        ImageFit = value;
    }

    ObjectPosition ImagePosition = ObjectPosition.Center;

    void SetImagePosition(ObjectPosition value)
    {
        ImagePosition = value;
    }
}